<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>タスク編集</title>
</head>
<body>
    <h1>タスク編集</h1>
	<form th:action="@{/tasks/update/{id}(id=${task.id})}" method="post">
        <div>
            <label>ID：<span th:text="${task.id}"></span></label>
        </div>
        <div>
            <label>タイトル：<input type="text" name="title" th:value="${task.title}"></label>
        </div>
        <div>
            <label>内容：<input type="text" name="content" th:value="${task.content}"></label>
        </div>
        <div>
            <label>名前：<input type="text" name="name" th:value="${task.name}"></label>
        </div>
        <div>
            <label>開始日：<input type="date" name="startDate" th:value="${task.startDate}"></label>
        </div>
        <div>
            <label>終了日：<input type="date" name="endDate" th:value="${task.endDate}"></label>
        </div>
        <div>
            <button type="submit">完了</button>
        </div>
    </form>
    <a href="/tasks">一覧に戻る</a>
</body>
</html>